@import "tailwindcss";

@theme {
  --color-terracota: #C36C6C;
  --color-azul-suave: #6C8CC3;
  --color-crema: #F4EDEA;
  --color-beige: #D9B08C;
  --color-oliva: #8A9A5B;
  --color-terracota-dark: #A05252;
  --color-azul-suave-dark: #4E6B9E;
  --color-crema-dark: #E1D7D3;
  --color-beige-dark: #B8926E;
  --color-oliva-dark: #6E7F45;
  --color-pawtel-black: #333333;
  --color-pawtel-gray: #A3A3A3;
  --font-titulos: 'Poppins', sans-serif;
  --font-subtitulos: 'Roboto', sans-serif;
  --font-complementario: 'Open Sans', sans-serif;
}

nav > a + a {
  margin-left: 10px;
}

h1 {
  font-family: var(--font-titulos);
  font-weight: bold;
  margin: 0 0 10px;
}

h2 {
  font-family: var(--font-titulos);
  font-weight: bold;
  margin: 0 0 10px;
}

h3, h4 {
  font-family: var(--font-subtitulos);
}

p, ul, li {
  font-family: var(--font-complementario);
}



/* FLATPICKR CALENDAR */
.flatpickr-day.selected  {
  background: #C36C6C !important;
  border-color: #333 !important;
}

.flatpickr-day.startRange  {
  background: #C36C6C !important;
  border-color: #333 !important;
}


.flatpickr-day.endRange  {
  background: #C36C6C !important;
  border-color: #333 !important;
}

.flatpickr-weekday {
  color: #C36C6C !important;
}
